params {

   outputDir = './results'
}

process {

	publishDir = [
    	[path: params.outputDir, mode: 'copy', overwrite: 'true', pattern: "*/quant.sf"],
      [path: params.outputDir, mode: 'copy', overwrite: 'true', pattern: "*pseudo.bam"]
  	]

	errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 100

}

timeline {
	enabled = true
}

report {
	enabled = true
}
